.home-container {

  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #48886b;
  color: #ffffff;
  scroll-behavior: smooth;

  background-image: url("./assets/file_00000000798061f8ac4ebce7a3e700e2.png");
  background-size: cover;
  background-position: center right;  /* or right 40ch */
  background-repeat: no-repeat;


       }
 